.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
}

.content {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centeredParagraph {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

.section1 {
  background-color: #fbbf24;
}

.section2 {
  background-color: #ef4444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 {
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.25rem;
  color: white;
}
